pa165-sportEvent-Client/src/wsdl/localhost_8080/pa165/SportEventWSImplService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b01 . --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b01 . --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.sportEvent.pa165.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.sportEvent.pa165.com/" name="SportEventWSImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.sportEvent.pa165.com/" schemaLocation="http://localhost:8080/pa165/SportEventWSImplService?xsd=1"/>
</xsd:schema>
</types>
<message name="sportsmanManagerfindAll">
<part name="parameters" element="tns:sportsmanManagerfindAll"/>
</message>
<message name="sportsmanManagerfindAllResponse">
<part name="parameters" element="tns:sportsmanManagerfindAllResponse"/>
</message>
<message name="sportsmanManagersave">
<part name="parameters" element="tns:sportsmanManagersave"/>
</message>
<message name="sportsmanManagersaveResponse">
<part name="parameters" element="tns:sportsmanManagersaveResponse"/>
</message>
<message name="sportsmanManagerupdate">
<part name="parameters" element="tns:sportsmanManagerupdate"/>
</message>
<message name="sportsmanManagerupdateResponse">
<part name="parameters" element="tns:sportsmanManagerupdateResponse"/>
</message>
<message name="sportsmanManagerdelete">
<part name="parameters" element="tns:sportsmanManagerdelete"/>
</message>
<message name="sportsmanManagerdeleteResponse">
<part name="parameters" element="tns:sportsmanManagerdeleteResponse"/>
</message>
<message name="sportsmanManagerfindById">
<part name="parameters" element="tns:sportsmanManagerfindById"/>
</message>
<message name="sportsmanManagerfindByIdResponse">
<part name="parameters" element="tns:sportsmanManagerfindByIdResponse"/>
</message>
<message name="eventManagerfindAll">
<part name="parameters" element="tns:eventManagerfindAll"/>
</message>
<message name="eventManagerfindAllResponse">
<part name="parameters" element="tns:eventManagerfindAllResponse"/>
</message>
<message name="eventManagersave">
<part name="parameters" element="tns:eventManagersave"/>
</message>
<message name="eventManagersaveResponse">
<part name="parameters" element="tns:eventManagersaveResponse"/>
</message>
<message name="eventManagerupdate">
<part name="parameters" element="tns:eventManagerupdate"/>
</message>
<message name="eventManagerupdateResponse">
<part name="parameters" element="tns:eventManagerupdateResponse"/>
</message>
<message name="eventManagerdelete">
<part name="parameters" element="tns:eventManagerdelete"/>
</message>
<message name="eventManagerdeleteResponse">
<part name="parameters" element="tns:eventManagerdeleteResponse"/>
</message>
<message name="eventManagerfindById">
<part name="parameters" element="tns:eventManagerfindById"/>
</message>
<message name="eventManagerfindByIdResponse">
<part name="parameters" element="tns:eventManagerfindByIdResponse"/>
</message>
<message name="ServiceFailureException">
<part name="fault" element="tns:ServiceFailureException"/>
</message>
<message name="gradeManagerPutGrade">
<part name="parameters" element="tns:gradeManagerPutGrade"/>
</message>
<message name="gradeManagerPutGradeResponse">
<part name="parameters" element="tns:gradeManagerPutGradeResponse"/>
</message>
<message name="gradeManagerfindAll">
<part name="parameters" element="tns:gradeManagerfindAll"/>
</message>
<message name="gradeManagerfindAllResponse">
<part name="parameters" element="tns:gradeManagerfindAllResponse"/>
</message>
<message name="gradeManagersave">
<part name="parameters" element="tns:gradeManagersave"/>
</message>
<message name="gradeManagersaveResponse">
<part name="parameters" element="tns:gradeManagersaveResponse"/>
</message>
<message name="gradeManagerupdate">
<part name="parameters" element="tns:gradeManagerupdate"/>
</message>
<message name="gradeManagerupdateResponse">
<part name="parameters" element="tns:gradeManagerupdateResponse"/>
</message>
<message name="gradeManagerdelete">
<part name="parameters" element="tns:gradeManagerdelete"/>
</message>
<message name="gradeManagerdeleteResponse">
<part name="parameters" element="tns:gradeManagerdeleteResponse"/>
</message>
<message name="gradeManagerfindById">
<part name="parameters" element="tns:gradeManagerfindById"/>
</message>
<message name="gradeManagerfindByIdResponse">
<part name="parameters" element="tns:gradeManagerfindByIdResponse"/>
</message>
<message name="sportManagergetAll">
<part name="parameters" element="tns:sportManagergetAll"/>
</message>
<message name="sportManagergetAllResponse">
<part name="parameters" element="tns:sportManagergetAllResponse"/>
</message>
<portType name="SportEventWSImpl">
<operation name="sportsmanManagerfindAll">
<input wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/sportsmanManagerfindAllRequest" message="tns:sportsmanManagerfindAll"/>
<output wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/sportsmanManagerfindAllResponse" message="tns:sportsmanManagerfindAllResponse"/>
</operation>
<operation name="sportsmanManagersave">
<input wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/sportsmanManagersaveRequest" message="tns:sportsmanManagersave"/>
<output wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/sportsmanManagersaveResponse" message="tns:sportsmanManagersaveResponse"/>
</operation>
<operation name="sportsmanManagerupdate">
<input wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/sportsmanManagerupdateRequest" message="tns:sportsmanManagerupdate"/>
<output wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/sportsmanManagerupdateResponse" message="tns:sportsmanManagerupdateResponse"/>
</operation>
<operation name="sportsmanManagerdelete">
<input wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/sportsmanManagerdeleteRequest" message="tns:sportsmanManagerdelete"/>
<output wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/sportsmanManagerdeleteResponse" message="tns:sportsmanManagerdeleteResponse"/>
</operation>
<operation name="sportsmanManagerfindById">
<input wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/sportsmanManagerfindByIdRequest" message="tns:sportsmanManagerfindById"/>
<output wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/sportsmanManagerfindByIdResponse" message="tns:sportsmanManagerfindByIdResponse"/>
</operation>
<operation name="eventManagerfindAll">
<input wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/eventManagerfindAllRequest" message="tns:eventManagerfindAll"/>
<output wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/eventManagerfindAllResponse" message="tns:eventManagerfindAllResponse"/>
</operation>
<operation name="eventManagersave">
<input wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/eventManagersaveRequest" message="tns:eventManagersave"/>
<output wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/eventManagersaveResponse" message="tns:eventManagersaveResponse"/>
</operation>
<operation name="eventManagerupdate">
<input wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/eventManagerupdateRequest" message="tns:eventManagerupdate"/>
<output wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/eventManagerupdateResponse" message="tns:eventManagerupdateResponse"/>
</operation>
<operation name="eventManagerdelete">
<input wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/eventManagerdeleteRequest" message="tns:eventManagerdelete"/>
<output wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/eventManagerdeleteResponse" message="tns:eventManagerdeleteResponse"/>
</operation>
<operation name="eventManagerfindById">
<input wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/eventManagerfindByIdRequest" message="tns:eventManagerfindById"/>
<output wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/eventManagerfindByIdResponse" message="tns:eventManagerfindByIdResponse"/>
<fault message="tns:ServiceFailureException" name="ServiceFailureException" wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/eventManagerfindById/Fault/ServiceFailureException"/>
</operation>
<operation name="gradeManagerPutGrade">
<input wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/gradeManagerPutGradeRequest" message="tns:gradeManagerPutGrade"/>
<output wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/gradeManagerPutGradeResponse" message="tns:gradeManagerPutGradeResponse"/>
</operation>
<operation name="gradeManagerfindAll">
<input wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/gradeManagerfindAllRequest" message="tns:gradeManagerfindAll"/>
<output wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/gradeManagerfindAllResponse" message="tns:gradeManagerfindAllResponse"/>
</operation>
<operation name="gradeManagersave">
<input wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/gradeManagersaveRequest" message="tns:gradeManagersave"/>
<output wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/gradeManagersaveResponse" message="tns:gradeManagersaveResponse"/>
</operation>
<operation name="gradeManagerupdate">
<input wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/gradeManagerupdateRequest" message="tns:gradeManagerupdate"/>
<output wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/gradeManagerupdateResponse" message="tns:gradeManagerupdateResponse"/>
</operation>
<operation name="gradeManagerdelete">
<input wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/gradeManagerdeleteRequest" message="tns:gradeManagerdelete"/>
<output wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/gradeManagerdeleteResponse" message="tns:gradeManagerdeleteResponse"/>
</operation>
<operation name="gradeManagerfindById">
<input wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/gradeManagerfindByIdRequest" message="tns:gradeManagerfindById"/>
<output wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/gradeManagerfindByIdResponse" message="tns:gradeManagerfindByIdResponse"/>
</operation>
<operation name="sportManagergetAll">
<input wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/sportManagergetAllRequest" message="tns:sportManagergetAll"/>
<output wsam:Action="http://ws.sportEvent.pa165.com/SportEventWSImpl/sportManagergetAllResponse" message="tns:sportManagergetAllResponse"/>
</operation>
</portType>
<binding name="SportEventWSImplPortBinding" type="tns:SportEventWSImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sportsmanManagerfindAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sportsmanManagersave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sportsmanManagerupdate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sportsmanManagerdelete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sportsmanManagerfindById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eventManagerfindAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eventManagersave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eventManagerupdate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eventManagerdelete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eventManagerfindById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceFailureException">
<soap:fault name="ServiceFailureException" use="literal"/>
</fault>
</operation>
<operation name="gradeManagerPutGrade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="gradeManagerfindAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="gradeManagersave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="gradeManagerupdate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="gradeManagerdelete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="gradeManagerfindById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sportManagergetAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SportEventWSImplService">
<port name="SportEventWSImplPort" binding="tns:SportEventWSImplPortBinding">
<soap:address location="http://localhost:8080/pa165/SportEventWSImplService"/>
</port>
</service>
</definitions>